
*{ 
    text-decoration: none;
}
.navigationbar{
    background-color: rgba(241, 168, 134, 0.822); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; padding-left: 0px; padding-right: 15px; height: 150px;
}
.navigationdiv{
    display: flex; align-items: center; justify-content: space-between;
}
.ditigitalespressologo-image{
    font-size: 35px; font-weight: 600; color: white;
}
li { list-style:decimal-leading-zero; display: inline-block;
}
li a{ 
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px; 
}
button{
    background-color: peru; margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
}
button a{ color: white; font-weight: bold; font-size: 15px;
}
h1 {
    color: white; font-weight: bolder; font-size: 20px; font-family:Georgia, 'Times New Roman', Times, serif ; margin-right: 20px
}
            body { 
                background-color: peru;
                color:blanchedalmond
            }
        .ditigitalespressologo-image {
            height: 150px;
        }

        h2 {
            font-size: 35px; font-weight: 600; color: white; margin-top: 15px; margin-left: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
        h3{
            font-size: 35px; font-weight: 600; color: white; margin-top: 15px; margin-left: 900px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
         }
        .MainPageCoffeShopBackground-image {
            float: left;
            width: 600px;
        }
        .SatisfiedCustomerTestimony {
            float:right;
            width: 400px; margin-left: 800px;
        }
        